{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% include 'default/messages.html.twig' %}
        </div>
    </div>
    {% if partida is defined and partida is not null %}
        <div class="row d-flex justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="mt-1 mb-4 text-left"><i class="fas fa-th"></i> Tablero</h2>
                {% include 'default/tablero.html.twig' %}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h2 class="mt-1 mb-4"><i class="fas fa-user-friends"></i> Jugadores</h2>
                {% include 'default/jugadores.html.twig' %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modales %}
    {% include 'default/modal_datos_jugadores.html.twig' %}
{% endblock %}